<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <title>Notification Window For Test Pilot</title>
    <!-- <link rel="stylesheet" href="styles.css" />  todo -->
    <style>
    button {
    	width: 100%;
    	display: inline-block;
    	height: 32px;
    	margin: 4px 0px;
	}

	#cornerimage {
		float: left;
		margin-right:10px;
	}

	#buttons {
		position: absolute;
		bottom: 0px;
		width: 96%;
		padding:0;
		margin:0;
	}
    </style>
</head>
<body>
<div id="noticebox"></div>

<!--
Spec for notification box:

Title
subtitle
content:  list -> 1 para per.
buttons: [
	text
	name
	hidesbox  - does this kill the box?
	action    - to push back on
]
target:  an event target

-->

<script type="text/tempate" id='pilot-notification-template'>
	<div><img id="cornerimage" src="<%= obj.icon %>" /></div>
	<h1 id="title"><%= obj.title %></h1>
	<% _.each(obj.subtitles,function(t){
		%> <h2><%= t %></h2> <%
	}) %>
	<div id="text">
	<% _.each(obj.content,function(t){
		%> <p><%= t %></p> <%
	}) %>
	</div>
	<% _.each(obj.buttons, function(button){ %>
		<div class="callback-button">
			<button type="button" data-action="<%= button.action %>" value="<%= button.value %>"><%= button.text %></input>
		</div>
	<% }) %>
</script>

</body>
</html>
